* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  background: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  word-spacing: 1px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 55px;
  display: flex;
  padding: 0 2%;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
}

nav .brand-logo,
.cart-logo {
  cursor: pointer;
}

nav .left-nav,
.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #000;
  margin: 0 0.5rem;
  font-size: 0.85rem;
  font-weight: 300;
}

nav .left-nav .brand-name {
  font-weight: 400;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.page-container {
  margin: 6rem auto;
  text-align: center;
}

.page-container .header-2 {
  font-weight: 400;
  margin-bottom: 0.75rem;
  font-size: 1.75rem;
  line-height: 1.5;
}

.page-container .caption {
  font-size: 1rem;
  color: #737073;
}

.page-container .create-one {
  color: #0f97fe;
}

form {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  max-width: 27rem;
  min-width: 25rem;
}

form .input-field label {
  text-align: left;
  font-size: 0.9rem;
  margin-left: 3px;
  font-weight: 500;
}

form .input-field {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

form .input-field input {
  padding: 8px 5px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 1rem;
}

form .check-field {
  display: flex;
}

form .check-field.agreement-input label {
  color: #737073;
  margin-top: -2px;
  margin-left: 0.5rem;
}

form .btn {
  display: block;
  width: 100%;
  margin: 2.25rem 0 1.5rem;
  font-size: 1rem;
  background: #00d5a6;
  color: #fff;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form .forgot-pass .link {
  color: #0f97fe;
}

form .with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2.25rem 0 1.5rem;
  font-size: 1rem;
  background: red;
  color: #fff;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button .icon {
  margin-right: 0.5rem;
}

footer {
  padding: 3rem 15%;
}

footer .footer-container {
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img.icon {
  width: 2.5rem;
  height: 1.5rem;
}

.footer-contact p {
  font-size: 1.2rem;
  color: #737073;
  line-height: 25px;
}

footer .footer-content {
  padding: 2rem 3%;
}

footer .footer-content p {
  text-align: justify;
  font-size: 1.08rem;
  color: #737073;
  line-height: 35px;
}

footer .paragraph {
  padding: 2rem 0;
}

footer .footer-content .terms,
.privacy {
  color: #87ceeb;
  text-decoration: underline;
}

.footer-content .privacy {
  border-right: 1px solid #737073;
  padding-right: 7px;
}
